body {
  margin: 0;
  background-color: #333;

}
#profilepic {
  float:right;
  padding-right: 5em;
  max-width:15%;
  min-height: 4em;
}
.navbar{
  width: 87%;
  height: 1.8em;
  margin:auto;
  padding-bottom: 1.2em;
}
/* ----------------------------------------------------- */
/* author: w3schools */
/* date: feb,20,2019 */
/* title: Horizontal Navigation Bar Examples */
/* source code? */
/* got this code from https://www.w3schools.com/css/css_navbar.asp */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #000;
}
/* ----------------------------------------------------- */

/*banner*/
.banner {
  background-color: #207ce5;
  height: 6em;
  margin: auto;
  padding-top: 10px;
  width: 87%;
}
h1{
  text-align: center;
  color: white;
}
/* info */
.info{
  display: flex;
  justify-content: space-between;
  /* padding-top: 1px; */
padding: 1em;
  margin: auto;
  width: 85%;
  background: white;

}
.main{
  max-width:100%;


}
.sidebar{
  width: 35%;
  height:23vh;
  border:3px solid #111;
  padding: 15px;
}
footer{
  width: 87%;
  margin: auto;
}
